[is="health"][data-value="10"] > figure > svg {
  & .m10 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m9 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m8 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m7 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m6 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m5 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m4 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m3 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m2 {
    fill: hsla(128, 96, 20, 1);
  }

  & .m1 {
    fill: hsla(128, 96, 20, 1);
  }
}

[is="physical"][data-value="10"] > figure > svg {
  & .m10 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m9 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m8 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m7 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m6 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m5 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m4 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m3 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m2 {
    fill: hsla(25, 100, 35, 1);
  }

  & .m1 {
    fill: hsla(25, 100, 35, 1);
  }
}

[is="mental"][data-value="10"] > figure > svg {
  & .m10 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m9 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m8 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m7 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m6 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m5 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m4 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m3 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m2 {
    fill: hsla(195, 100, 24, 1);
  }

  & .m1 {
    fill: hsla(195, 100, 24, 1);
  }
}

[is="spirit"][data-value="10"] > figure > svg {
  & .m10 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m9 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m8 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m7 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m6 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m5 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m4 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m3 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m2 {
    fill: hsla(298, 100, 31, 1);
  }

  & .m1 {
    fill: hsla(298, 100, 31, 1);
  }
}
