:root{
  --font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --text-width:70ch;
  --line-height:1.5rem;
  --m-font:clamp(14pt, 5vw, 18pt);
  --spacer-smallest:0.5rem;
  --white:#ffffff;
  --fe-white:#fcfcfd;
  --margin-centered:0 auto;
  --smooth:smooth;
}

nav[id=toc]{
  padding-top:44pt;
  width:100vw;
  height:100vh;
  background-color:var(--white);
  position:absolute;
  z-index:1000;
  transition:top 0.2s ease-in-out, left 0.2s ease-in-out;
}
nav[id=toc] > button{
  font-size:1rem;
  cursor:pointer;
  height:44pt;
  width:100%;
  border:none;
  background-color:var(--white);
  position:absolute;
  top:0;
  right:0;
}
nav[id=toc] ul{
  list-style:none;
}
nav[id=toc] > ul{
  overflow-y:scroll;
  height:calc(100vh - 44pt);
  margin:0;
  padding:0;
}
nav[id=toc][data-open=true]{
  position:fixed;
  top:0;
  left:0;
}
nav[id=toc][data-open=true] button{
  width:100%;
}
nav[id=toc][data-open=false]{
  position:fixed;
  top:calc(100vh - 44pt);
  left:-50vw;
}
nav[id=toc][data-open=false] button{
  width:50%;
}

html{
  scroll-behavior:var(--smooth);
  font-family:var(--font-family);
  font-size:var(--m-font);
  background-color:var(--fe-white);
}

body{
  margin:0;
  padding:0;
}

article{
  padding-bottom:60pt;
  max-width:var(--text-width);
  line-height:var(--line-height);
}

ul{
  padding-left:2ch;
}

nav[is=main-nav]{
  background-color:var(--white);
}

nav[is=main-nav] > ul{
  margin:0;
  padding:0;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  list-style:none;
}

nav[is=main-nav] > ul > li{
  margin:0;
  padding:0;
}

nav[is=main-nav] > ul > li > a{
  display:block;
  height:100%;
  min-height:44pt;
}

nav[is=main-nav] > ul > li > a.current{
  background-color:#000000;
}

nav[is=main-nav] > ul > li > a > span{
  position:absolute;
  left:-999em;
  right:auto;
}

nav[is=main-nav] > ul > li:first-of-type > a{
  background-image:url("/assets/icons/home.svg");
  background-position:center center;
  background-size:auto 20pt;
  background-repeat:no-repeat;
}

nav[is=main-nav] > ul > li:nth-of-type(2) > a{
  background-image:url("/assets/icons/vanilla.svg");
  background-position:center center;
  background-size:auto 20pt;
  background-repeat:no-repeat;
}

nav[is=main-nav] > ul > li:nth-of-type(3) > a{
  background-image:url("/assets/icons/sprinkles.svg");
  background-position:center center;
  background-size:auto 20pt;
  background-repeat:no-repeat;
}

nav[is=main-nav] > ul > li:first-of-type > a.current{
  background-image:url("/assets/icons/home-white.svg");
}

nav[is=main-nav] > ul > li:nth-of-type(2) > a.current{
  background-image:url("/assets/icons/vanilla-white.svg");
}

nav[is=main-nav] > ul > li:nth-of-type(3) > a.current{
  background-image:url("/assets/icons/sprinkles-white.svg");
}

div[is=table]{
  overflow-x:scroll;
}

a#back-to-top{
  display:flex;
  height:44pt;
  width:50vw;
  justify-content:center;
  align-items:center;
  background-color:var(--white);
  position:fixed;
  top:calc(100vh - 44pt);
  left:49.5vw;
}
.root > h1{
  position:absolute;
  left:-999em;
  right:auto;
}

.root a{
  display:block;
  margin:1rem;
  padding:1rem 1rem;
  text-align:center;
}

.root a:hover{
  border-radius:5px;
  background:#ebebeb;
  box-shadow:13px 13px 26px #cfcfcf, -13px -13px 26px #ffffff;
}

.root ul{
  margin:0;
  padding:0;
  list-style:none;
}