vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/base/public/storage
/base/public/hot

# Laravel 5 & Lumen specific with changed public path
/base/public_html/storage
/base/public_html/hot

/base/storage/*.key
/base/.env
/base/Homestead.yaml
/base/Homestead.json
/base/.vagrant
/base/.phpunit.result.cache
.DS_Store
