@font-face{
  font-family:"AH-light";
  font-style:normal;
  font-weight:normal;
  src:local("sans-serif"), url("/fonts/AtkinsonHyperlegibleNext-Light.ttf") format("truetype");
  font-display:swap;
}

@font-face{
  font-family:"AH-regular";
  font-style:normal;
  font-weight:normal;
  src:local("sans-serif"), url("/fonts/AtkinsonHyperlegibleNext-Regular.ttf") format("truetype");
  font-display:swap;
}

:root {
  --font-body: "AH-light";
  --font-body-size: 14pt;
  --font-header: "AH-regular";
  --font-header-size: 20pt;
  --font-header2-size: 16pt;
  --line-height: 1.5rem;
  --color-theme: #008181;
  --color-black: #000000;
  --color-shadow: hsl(0, 0%, 0%, 50%);
  --color-white: #FFFFFF;
}

* {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-padding-top: 50px;
}

body {
  margin: 44px 0;
  padding: 0;
  height: 100%;
}

article {
  margin: 0 auto;
  min-height: 100%;
  max-width: 70ch;
  /*background-color: var(--color-white);*/
}

article,
footer {
  padding: 0.5rem;
  line-height: var(--line-height);
}

h1 {
  font-family: var(--font-header);
  font-size: var(--font-header-size);
  font-weight: normal;
}

h2 {
  margin-top: 3rem;
  font-size: var(--font-header2-size);
}

h3 {
  text-align: center;
}

blockquote {
  margin-left: 1rem;
}

footer {
  text-align: center;
  background-color: var(--color-white);
}

a,
button.popover {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-color: var(--color-theme);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.1rem;
  transition: text-decoration-color 0.3s;  
}

a:hover,
button.popover:hover {
  cursor: pointer;
  text-decoration-color: var(--color-black);
}

body:has(div:popover-open) {
  background-color: hsl(0, 0%, 0%, 5%);
}

div:popover-open {
  margin: auto 15px;
  padding: 0;
  border-color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: 7px 7px 8px var(--color-shadow);
}

div:popover-open > p {
  padding: 0.5rem;
}

div:popover-open > button {
  width: 100%;
  min-height: 44px;
  border: none;
  background-color: var(--color-theme);
  color: var(--color-white);
  transition: background-color 0.3s;
}

div:popover-open > button:hover {
  cursor: pointer;
  background-color: var(--color-black);
}

div:popover-open ~ article {
  filter: blur(0.25rem);
  /*background-color: hsl(0, 0%, 0%, 1%);*/
}

.sr-only {
  position: absolute;
  left: -999em;
  right: auto;  
}

nav[aria-label="quick navigation"] {
  position: fixed;
  top: 0;
  width: 100%;
}

nav[aria-label="quick navigation"] > ul,
nav#primary-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav[aria-label="quick navigation"] > ul > li > a,
nav#primary-nav > ul > li > a {
  display: block;
  height: 44px;
  line-height: 44px;
  background-color: var(--color-theme);
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-header);
  text-decoration: none;
  transition: background-color 0.3s;
}

nav[aria-label="quick navigation"] > ul > li:nth-of-type(2) > a {
  background-color: var(--color-black);
}

nav[aria-label="quick navigation"] > ul > li:nth-of-type(2) > a:hover {
  background-color: var(--color-theme);
}

nav#primary-nav {
  margin: 0 auto;
  max-width: 1000px;
}

nav#primary-nav > ul > li > a.current {
  background-color: var(--color-black);
}

nav[aria-label="quick navigation"] > ul > li > a:hover,
nav#primary-nav > ul > li > a:hover {
  background-color: var(--color-black);
}

a#skip-nav{
  display:block;
  position:absolute;
  top:-4rem;
}

p#top {
  margin: 0;
  background-color: var(--color-white);
}

p#top > a {
  display: block;
  min-height: 44px;
  text-align: center;
}


/*@charset "UTF-8";

:root{
  --font-header:"Deco", sans-serif;
  --font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --text-width:70ch;
  --line-height:1.5rem;
  --xs-font:clamp(10pt, 3.125vw, 14pt);
  --m-font:clamp(14pt, 5vw, 18pt);
  --l-font:30pt;
  --icon-increase:"◭";
  --icon-new-window:"⧉";
  --0-spacer:0;
  --2xs-spacer:0.25rem;
  --xs-spacer:0.5rem;
  --icon-lift-spacer:-0.5rem;
  --background-color:#ffffff;
  --fe-key:#008181;
  --white:#ffffff;
  --fe-white:#fcfcfd;
  --margin-centered:0 auto;
  --max-width:1100px;
  --smooth:smooth;
  --inline-block:inline-block;
  --absolute:absolute;
  --relative:relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:0;
}

h1{
  margin-top:2rem;
  text-align:center;
}

h3{
  font-style:italic;
}

abbr{
  border-bottom:1px dotted;
}

li, dt{
  margin:0.75rem 0;
}

dt{
  margin-bottom:0;
}



nav[is=main-nav]{
  background-color:var(--background-color);
}
nav[is=main-nav] > ul{
  max-width:1100px;
  margin:var(--margin-centered);
  padding:0;
  display:grid;
  list-style:none;
}
nav[is=main-nav] > ul.col-3{
  grid-template-columns:repeat(3, 1fr);
}
nav[is=main-nav] > ul.col-4{
  grid-template-columns:repeat(4, 1fr);
}
nav[is=main-nav] > ul > li{
  margin:0;
  padding:0;
}
nav[is=main-nav] > ul > li > a{
  text-decoration:none;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  min-height:44pt;
  color:#000000;
  background-position:center center;
  background-size:auto 20pt;
  background-repeat:no-repeat;
  transition:transform 0.2s ease-in-out;
  font-family:var(--font-header);
  font-size:var(--l-font);
}
nav[is=main-nav] > ul > li > a > span:nth-of-type(1){
  display:none;
}
nav[is=main-nav] > ul > li > a > span:nth-of-type(2){
  display:inline;
}
@media screen and (min-width: 800px){
  nav[is=main-nav] > ul > li > a > span{
    position:relative;
    left:0;
    right:0;
  }
  nav[is=main-nav] > ul > li > a > span:nth-of-type(1){
    display:inline;
  }
  nav[is=main-nav] > ul > li > a > span:nth-of-type(2){
    display:none;
  }
}
nav[is=main-nav] > ul > li > a:hover:not(.current){
  transform:scale(1.1, 1.1);
}
nav[is=main-nav] > ul > li > a.current{
  background-color:var(--fe-key);
  color:var(--white);
}

nav[id=toc]{
  padding:var(--xs-spacer);
  padding-top:44pt;
  width:100vw;
  height:100vh;
  background-color:var(--background-color);
  position:absolute;
  z-index:1000;
  transition:top 0.2s ease-in-out, left 0.2s ease-in-out;
}
@media screen and (min-width: 800px){
  nav[id=toc]{
    padding-top:0;
    width:auto;
    height:auto;
    position:initial;
  }
}
nav[id=toc] > button{
  font-size:1rem;
  cursor:pointer;
  height:44pt;
  width:100%;
  border:none;
  background-color:var(--background-color);
  color:var(--fe-key);
  position:absolute;
  top:0;
  right:0;
}
@media screen and (min-width: 800px){
  nav[id=toc] > button{
    display:none;
  }
}
nav[id=toc] ul{
  list-style:none;
}
nav[id=toc] li{
  margin:0;
}
nav[id=toc] > ul{
  height:calc(100vh - 44pt);
  overflow-y:scroll;
  margin:0;
  padding:0;
}
@media screen and (min-width: 800px){
  nav[id=toc] > ul{
    height:auto;
    overflow-y:auto;
  }
}
nav[id=toc][data-open=true]{
  position:fixed;
  top:0;
  left:0;
}
@media screen and (min-width: 800px){
  nav[id=toc][data-open=true]{
    position:initial;
    top:auto;
    left:auto;
  }
}
nav[id=toc][data-open=true] button{
  width:100%;
}
nav[id=toc][data-open=false]{
  position:fixed;
  top:calc(100vh - 44pt);
  left:-50vw;
}
@media screen and (min-width: 800px){
  nav[id=toc][data-open=false]{
    position:initial;
    top:auto;
    left:auto;
  }
}
nav[id=toc][data-open=false] button{
  width:50%;
}

a#back-to-top{
  display:flex;
  height:44pt;
  width:50vw;
  justify-content:center;
  align-items:center;
  background-color:var(--background-color);
  position:fixed;
  top:calc(100vh - 44pt);
  left:49.5vw;
  text-decoration:none;
}
@media screen and (min-width: 800px){
  a#back-to-top{
    width:100vw;
    left:0;
  }
}
a#back-to-top > span{
  display:block;
  max-width:var(--max-width);
}
a#back-to-top > span:before{
  display:var(--inline-block);
  content:var(--icon-increase);
  position:var(--relative);
  right:var(--xs-spacer);
}
a#back-to-top > span:after{
  display:var(--inline-block);
  content:var(--icon-increase);
  position:var(--relative);
  left:var(--xs-spacer);
}

div[is=heading-wrapper]{
  display:grid;
  grid-template-areas:"link" "header";
}
div[is=heading-wrapper] a{
  display:block;
  width:100%;
  height:44pt;
  grid-area:link;
  margin:1.5rem auto 0.5rem auto;
  background-image:url("/ui/inline-anchor.svg");
  background-repeat:no-repeat;
  background-position:center center;
  background-size:auto 22pt;
}
@media screen and (min-width: 800px){
  div[is=heading-wrapper] a{
    margin:3rem auto 1rem auto;
    background-size:auto 44pt;
  }
}
div[is=heading-wrapper] a:hover{
  filter:blur(1px);
}
div[is=heading-wrapper] a > span{
  display:none;
}
div[is=heading-wrapper] a > span:nth-of-type(2){
  clip:rect(1px, 1px, 1px, 1px) !important;
  border-width:0 !important;
  height:1px !important;
  overflow:hidden !important;
  padding:0 !important;
  position:absolute !important;
  white-space:nowrap !important;
  width:1px !important;
}

article{
  margin:var(--margin-centered);
  max-width:var(--max-width);
  line-height:var(--line-height);
}
article > section{
  max-width:var(--text-width);
  margin:var(--xs-spacer);
}

div[is=table]{
  overflow-x:scroll;
}
div[is=table]::-webkit-scrollbar{
  width:0px;
  background:transparent;
}

table{
  margin:2rem auto;
  display:block;
  border-collapse:collapse;
}

table th{
  padding:3px;
}

table td{
  padding:5px;
  border:1px solid black;
}

footer{
  padding-top:40pt;
  padding-bottom:60pt;
  text-align:center;
  font-size:0.7rem;
  line-height:1.5rem;
}
footer > ul{
  display:block;
  margin:0 auto;
  list-style:none;
}
footer > ul > li{
  display:inline-block;
}
footer > ul > li > a{
  margin-right:1rem;
}
footer > ul > li > a:last-of-type{
  margin-left:1rem;
}
footer > ul > li:first-of-type:after{
  content:"|";
}
footer > p{
  margin:0;
}

html,
body{
  margin:0;
  padding:0;
}

html{
  scroll-behavior:var(--smooth);
  font-family:var(--font-family);
  font-size:var(--m-font);
  background-color:var(--background-color);
  scroll-padding-top:55pt;
}
@media screen and (min-width: 800px){
  html{
    scroll-padding-top:66pt;
  }
}

ul{
  padding-left:2ch;
}

a{
  font-weight:bold;
  color:var(--fe-key);
}
a:hover{
  text-decoration:none;
}

a[rel~=noreferrer]:after{
  content:var(--icon-new-window);
  display:var(--inline-block);
  margin-left:var(--2xs-spacer);
  position:var(--relative);
  top:var(--icon-lift-spacer);
  font-size:var(--xs-font);
}*/