div[is="table"] {
  overflow-x: scroll;
  &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
}

table {
  margin: 2rem auto;
  display: block;
  border-collapse: collapse;
}

table th {
  padding: 3px;
}

table td {
  padding: 5px;
  border: 1px solid black;
}
