@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,300;1,500&display=swap');

@font-face {
  font-family: 'Deco';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url('/assets/fonts/deco.ttf') format('truetype');
}

:root {
  --font-header: 'Deco', sans-serif;
  --font-family: Raleway, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --text-width: 70ch;
  --line-height: 1.5rem;

  --m-font: clamp(14pt, 5vw, 18pt);
  --l-font: 30pt;

  --icon-increase: "◭";

  --0-spacer: 0;
  --xs-spacer: 0.5rem;

  --background-color: #ffffff;
  --fe-key: #5E9D9D;
  --white: #ffffff;
  --fe-white: #fcfcfd;

  --margin-centered: 0 auto;

  --max-width: 1100px;

  --smooth: smooth;
  --inline-block: inline-block;
  --absolute: absolute;
  --relative: relative;
}
