@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,300;1,500&display=swap');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(http://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4saVQUwaEQbjB_mQ.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}

:root {
  --font-header: GG Deco, Raleway, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --font-family: Raleway, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  --text-width: 70ch;
  --line-height: 1.5rem;

  --m-font: clamp(14pt, 5vw, 18pt);

  --spacer-smallest: 0.5rem;

  --fe-key: #5E9D9D;
  --white: #ffffff;
  --fe-white: #fcfcfd;

  --margin-centered: 0 auto;

  --smooth: smooth;
}
