@use 'mixins';
@use 'variables';

@forward 'typography';
@forward 'lists';

@forward 'main-nav';
@forward 'toc';
@forward 'back-to-top';
@forward 'heading-wrapper';

@forward 'article';
@forward 'table';
@forward 'footer';

html,
body {
  @include mixins.reset-margin-padding;
}

html {
  scroll-behavior: var(--smooth);
  font-family: var(--font-family);
  font-size: var(--m-font);
  background-color: var(--background-color);
  scroll-padding-top: 55pt;
  @include mixins.at-media {
    scroll-padding-top: 66pt;
  }
}

ul {
  padding-left: 2ch;
}

a {
  font-weight: bold;
  color: #5E9D9D;

  &:hover {
    text-decoration: none;
  }
}

a[rel~=noreferrer]:after {
  content: var(--icon-new-window);
  display: var(--inline-block);
  margin-left: var(--2xs-spacer);
  position: var(--relative);
  top: var(--icon-lift-spacer);
  font-size: var(--xs-font);
}
